#mapDivId {
  position: fixed;
  top: 0;
  left: 20vw;
  bottom: 0;
  right: 0;
  }
  @import url(http://fonts.googleapis.com/css?family=Open+Sans); 
  html, body{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
  }
  #info{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 20vw;
    padding: 1em;
  }
  .leaflet-bottom.leaflet-left{
    width: 100%;
  }
  .leaflet-control-container .leaflet-timeline-controls{
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    margin-bottom: 15px;
  }
